.header {
  display: flex;

  text-align: center;

  background-color: rgb(52, 53, 56);
  opacity: .9;
  height: 100vh;
  position: relative;
  color: white;
  font-family: "Times New Roman", times, serif;
  font-size: 25px;


}


.links {

  display:flex;
  justify-content: space-between;

  background-color: black;

  color: white;

  text-align: center;
  padding: px;

}

.grays {

  text-align: left;
}

.take {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  text-align: right;

}
.home {

  background-image: url('./assets/Img1.jpg');
  height: 100vh;
  position: relative;

}

.allInfo {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  border: solid;
  border-color: blue;
  margin-top: 100px;
}

.info {
  border: solid;
border-color: blue;
}

.moreInfo {
  border: solid;
border-color: blue;
}

.extraInfo {
  border: solid;
border-color: blue;
}

.game {
  display: flex;
  justify-content: space-around;


}

.generate-muscle {
  border: solid;
  border-color: red;
  display: flex;
  justify-content: center;

  align-items: center;
  padding-bottom: 65%;
  width: 300px;
}

.front {
  border: solid;
  border-color: yellow;
}

.back {
  display: flex;
  justify-content: center;
  border: solid;
  border-color: red;
}

.study {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

/*.posterior {

  border: solid;
  border-color: red;
}

.anterior {
  border: solid;
  border-color: red;
}*/

.posterior2 {


  display: flex;
  justify-content: center;
}

.anterior2 {

  display: flex;
  justify-content: center;
}

.label {

  /*display: flex;
  align-items: center;*/
  text-align: center;
}

.button {
  border: solid;
  border-color: blue;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0em;


}
.study {
display: flex;
justify-content: space-between;
}

.study2 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.muscle-study{
  margin-right: 15em ;
}

.count-down {
  border: solid;
  border-color: blue;
}

.choose {
  border: solid;
  border-color: red;
  height: 50%;

  display: flex;
  align-items: center;
  margin-top: 12%;

}


.random {
  border: solid;
  border-color: blue;
}
