.header {
  display: flex;

  text-align: center;

  background-color: rgb(52, 53, 56);
  opacity: .9;
  height: 100vh;
  position: relative;
  color: white;
  font-family: "Times New Roman", times, serif;
  font-size: 25px;


}


.links {

  display:flex;
  justify-content: space-between;

  background-color: black;

  color: white;

  text-align: center;
  padding: px;

}

.grays {

  text-align: left;
}

.take {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  text-align: right;

}
.home {

  background-image: url('./assets/Img1.jpg');
  height: 100vh;
  position: relative;

}

.allInfo {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  border: solid;
  border-color: blue;
  margin-top: 100px;
}

.info {
  border: solid;
border-color: blue;
}

.moreInfo {
  border: solid;
border-color: blue;
}

.extraInfo {
  border: solid;
border-color: blue;
}

.game {
  display: flex;
  justify-content: space-around;
  border: solid;
border-color: blue;

}

.explanation {
  border: solid;
  border-color: red;
}

.front {
  border: solid;
  border-color: yellow;
}

.back {
  display: flex;
  justify-content: center;
  border: solid;
  border-color: red;
}

.study {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.posterior {

  border: solid;
  border-color: red;
}

.anterior {
  border: solid;
  border-color: red;
}

.posterior2 {


  display: flex;
  justify-content: center;
}

.anterior2 {

  display: flex;
  justify-content: center;
}
